<!--<div class="search-form">
    <!~~ Add your search form here ~~>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Budget</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campaign of campaigns"
        [ngClass]="{'active-campaign': isActive(campaign), 'inactive-campaign': !isActive(campaign)}">
        <td>{{ campaign.name }}</td>
        <td>{{ campaign.startDate | date }}</td>
        <td>{{ campaign.endDate | date }}</td>
        <td>{{ isActive(campaign) ? 'Active' : 'Inactive' }}</td>
        <td>{{ campaign.Budget | currency:'USD' }}</td>
      </tr>
    </tbody>
  </table>
  -->
  <!-- campaign.component.html -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Budget</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campaign of campaigns"
          [ngClass]="{'active-campaign': isActive(campaign), 'inactive-campaign': !isActive(campaign)}">
        <td>{{ campaign.name }}</td>
        <td>{{ formatDate(campaign.startDate) }}</td>
        <td>{{ formatDate(campaign.endDate) }}</td>        
        <td>{{ isActive(campaign) ? 'Active' : 'Inactive' }}</td>
        <td>{{ campaign.Budget }}</td>
      </tr>
    </tbody>
  </table>
  